<div class="container">

  <div class="row" *ngIf="showQnAList">
    <div *ngIf="loading">Laster inn spørsmål...</div>

    <div class="panel-group" id="accordion">

      <div class="panel panel-default" *ngFor="let item of allQnA">
        <div class="panel-heading d-flex flex-nowrap justify-content-between">
          <button class="btn btn-link flex-shrink-1 text-wrap" data-toggle="collapse" [attr.data-target]="'#question-body' + item.id" aria-expanded="true" [attr.aria-controls]="'question-body' + item.id">
            {{item.text}}
          </button>
          <span class="float-right flex-shrink-0"><button class="btn btn-sm btn-light text-success" (click)="upvoteQuestion(item.id)"><b [attr.id]="'question_upvotes_text_' + item.id">{{item.upvotes}}</b> <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button> | <button class="btn btn-sm btn-light text-danger" (click)="downvoteQuestion(item.id)"><b [attr.id]="'question_downvotes_text_' + item.id">{{item.downvotes}}</b> <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span></button></span>
        </div>
        <div class="panel-body collapse" id="question-body{{item.id}}" data-parent="#accordion">

          <!-- Answers -->
          <div class="panel-group" *ngFor="let answer of item.answers">
            <div class="panel panel-default">
              <div class="panel-heading">
                <small>Svar fra 10. feb 2019</small>
                <small class="float-right"><b [attr.id]="'answer_upvotes_text_' + item.id + '_' + answer.id">{{answer.upvotes}}</b> personer fant svaret hjelpsomt</small>
              </div>
              <div class="panel-body">
                <p>{{answer.text}}</p>
                <hr />
                <small>Hjalp dette svaret deg?</small>
                <button class="btn btn-light btn-sm" (click)="upvoteAnswer(item.id, answer.id)"><span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span></button>
              </div>
            </div>
          </div>
          <!-- Answers end -->

          <hr />

          <button class='btn btn-primary' (click)='newAnswer(item.id)'>Skriv et nytt svar</button>
        </div>
      </div>

      <div class="panel panel-default">
        <div class="panel-heading">
          <button class="btn btn-link" data-toggle="collapse" data-target="#createNewQuestionBody" aria-expanded="true" aria-controls="createNewQuestionBody">
            <b>Finner du ikke noe svar på det du lurer på?</b>
          </button>
        </div>
        <div class="panel-body collapse" data-parent="#accordion" id="createNewQuestionBody">
          <button class='btn btn-primary' (click)='newQuestion()'>Opprett ett nytt spørsmål her</button>
        </div>
      </div>

    </div>
  </div>

  <div class="row" *ngIf="showQuestionForm">
    <form [formGroup]="questionForm" (ngSubmit)="submitQuestion()">
      <div class="form-group">
        <label>Spørsmål</label>
        <input class="form-control" formControlName="questionText" />
        <p class="alert alert-warning" [hidden]="questionForm.controls.questionText.valid || (questionForm.controls.questionText.pristine && !submitted)">
          Spørsmål er obligatorisk.
        </p>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!questionForm.valid" class="btn btn-primary">Send inn</button>
        <button class="btn btn-default" (click)="showList()">Tilbake</button>
      </div>
    </form>
  </div>


  <div class="row" *ngIf="showAnswerForm">
    <form [formGroup]="answerForm" (ngSubmit)="submitAnswer()">

      <input class="form-control" formControlName="questionId" type="hidden" />

      <div class="form-group">
        <label>Opprett nytt svar</label>
        <textarea class="form-control" formControlName="answerText"></textarea>
        <p class="alert alert-warning" [hidden]="answerForm.controls.answerText.valid || (answerForm.controls.answerText.pristine && !submitted)">
          Svartekst er obligatorisk.
        </p>
      </div>

      <div class="form-group">
        <button type="submit" [disabled]="!answerForm.valid" class="btn btn-primary">Send inn svar</button>
        <button class="btn btn-default" (click)="showList()">Tilbake</button>
      </div>
    </form>
  </div>


</div> <!-- CONTAINER END -->
